*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgb(129, 173, 224);
    font: normal 15pt Arial;
}

header {
    padding: 50px;
    color: white;
    text-align: center;
}

hr{
    height: 2px;
    width: 200px;
    margin: auto;
    color: white;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.452);

}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.452);
}
div {
    text-align: center;
    padding: 5px;
}
img {
    border-radius: 50%;
    width: 400px;
    height: 400px;
    
    
}

footer {
    padding: 50px;
    color: white;
    text-align: center;
    font-style: italic;
}